
<button class="btn btn-primary mt-5 mb-3 ml-2" routerLink="/submitnewbug">Create new</button>

<table class="table table-striped ml-2">
    <thead>
        <tr class="bg-dark text-white">
            <th scope="col" (click)="filterUp('title')">Title</th>
            <th scope="col" (click)="filterUp('priority')">Priority</th>
            <th scope="col" (click)="filterUp('reporter')">Reporter</th>
            <th scope="col" (click)="filterUp('createdAt')">Date Created</th>
            <th scope="col" (click)="filterUp('status')">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bug of bugs">
            <td>{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt.substring(0,10)}}</td>
            <td>{{bug.status}}</td>
        </tr>
    </tbody>
</table>