<button class="btn btn-primary mt-5 mb-3 ml-2" routerLink="/submitnewbug">Create new</button>

<form [formGroup]="searchForm" (submit)="submitSearchForm()">

    <table class="table table-striped ml-2 mb-5">

        <thead>
            <tr class="bg-dark text-white">

                <th scope="col"><input style="height: 25px;" formControlName="title" type="text"></th>
                <th scope="col">
                    <select formControlName="priority">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let priority of priorities | keyvalue" [ngValue]="priority.value">
                            {{priority.key}}
                        </option>
                    </select>
                </th>
                <th>
                    <select formControlName="reporter">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let reporter of reporters" [ngValue]="reporter">
                            {{reporter}}
                        </option>
                    </select>
                </th>
                <th scope="col"></th>
                <th>
                    <select formControlName="status">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let status of statuses" [ngValue]="status">
                            {{status}}
                        </option>
                    </select>
                </th>
                <th scope="col"></th>
                <th scope="col">
                    <button class="btn btn-primary"[disabled]="!searchForm.valid">Search</button>
                </th>

                <th></th>
            </tr>

            <tr class="bg-dark text-white">
                <th scope="col" (click)="filterUp('title')">Title</th>
                <th scope="col" (click)="filterUp('priority')">Priority</th>
                <th scope="col" (click)="filterUp('reporter')">Reporter</th>
                <th scope="col" (click)="filterUp('createdAt')">Date Created</th>
                <th scope="col" (click)="filterUp('status')">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bug of bugs; let i=index">
                <td>{{bug.title}}</td>
                <td>{{bug.priority}}</td>
                <td>{{bug.reporter}}</td>
                <td>{{bug.createdAt.substring(0,10)}}</td>
                <td>{{bug.status}}</td>
                <td><button (click)=onClick(bug)>Edit</button></td>
                <td><button (click)=onDelete(bug)>Delete</button></td>
            </tr>
        </tbody>
    </table>
</form>

<div class="d-flex justify-content-center">
    <img class="arrows" style="padding-right: 100px;" src="../../assets/images/left-arrow-line-symbol.png"
        (click)="prevPage()">
    <img class="arrows" style="padding-left: 100px;" src="../../assets/images/right-arrow-angle.png"
        (click)="nextPage()">
    <br>
</div>

<div class="d-flex justify-content-center pt-3">
    <p style="padding-right:70px; font-size: 16px;">Last Page</p>
    <p style="padding-left:70px; font-size: 16px;">Next Page</p>
</div>


<pre>
    {{searchForm.value | json}}
</pre>