<button class="searchButton" style="margin: 20px 0 10px 40px;" routerLink="/submitnewbug">New bug</button>
<img src="../../assets/images/bug.png" style="height: 30px; margin-left: 10px;">

<form [formGroup]="searchForm" style="margin: 30px;" (submit)="submitSearchForm()">

    <table class="table table-striped ml-2 mb-5">

        <thead>
            <tr class="bg-dark text-white">

                <th scope="col"><input formControlName="title" type="text" class="inputs"></th>
                <th scope="col">
                    <select formControlName="priority" class="inputs">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let priority of priorities | keyvalue" [ngValue]="priority.value">
                            {{priority.key}}
                        </option>
                    </select>
                </th>
                <th>
                    <select formControlName="reporter" class="inputs">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let reporter of reporters" [ngValue]="reporter">
                            {{reporter}}
                        </option>
                    </select>
                </th>
                <th scope="col"></th>
                <th>
                    <select formControlName="status" class="inputs">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let status of statuses" [ngValue]="status">
                            {{status}}
                        </option>
                    </select>
                </th>
                <th scope="col">
                    <!-- <img src="../../assets/images/loupe.png" style="height:30px" [disabled]="!searchForm.valid"> -->
                </th>

                <th scope="col">
                    <button class="searchButton" [disabled]="!searchForm.valid">Search</button>
                    
                </th>

                <th></th>
            </tr>

            <tr class="bg-dark text-white">
                <th scope="col" (click)="filterUp('title')">Title</th>
                <th scope="col" (click)="filterUp('priority')">Priority</th>
                <th scope="col" (click)="filterUp('reporter')">Reporter</th>
                <th scope="col" (click)="filterUp('createdAt')">Date Created</th>
                <th scope="col" (click)="filterUp('status')">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bug of bugs; let i=index">
                <td>{{bug.title}}</td>
                <td>{{bug.priority}}</td>
                <td>{{bug.reporter}}</td>
                <td>{{bug.createdAt.substring(0,10)}}</td>
                <td>{{bug.status}}</td>
                <td><button class="actionButtons" (click)=onClick(bug)>Edit</button></td>
                <td><button class="actionButtons" (click)=onDelete(bug)>Delete</button></td>
            </tr>
        </tbody>
    </table>
</form>

<div class="d-flex justify-content-center">
    <img class="arrows" style="padding-right: 100px;" src="../../assets/images/left-arrow-line-symbol.png"
        (click)="prevPage()">
    <img class="arrows" style="padding-left: 100px;" src="../../assets/images/right-arrow-angle.png"
        (click)="nextPage()">
    <br>
</div>

<div class="d-flex justify-content-center pt-3">
    <p style="padding-right:95px; font-size: 16px;">Previous Page</p>
    <p style="padding-left:65px; font-size: 16px;">Next Page</p>
</div>


<pre>
    {{searchForm.value | json}}
</pre>